<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Backbone.js Web App</title>
        <link rel="stylesheet" href="css/screen.css" />
        <script data-main="js/app" src="js/require.js"></script>
    </head>
    <body>
        <div id="contacts">
            <header>
                <div id="dropDown"><label>Listed:</label></div>
            </header>

        </div>


        <script id="contactTemplate" type="text/template">
            <img src="img/placeholder.jpeg"  />
            <h1><%= name %></h1>
            <div><%= address %></div>
            <dl>
                <dt>Tel:</dt><dd><%= tel %></dd>
                <dt>Email:</dt><dd><a href="mailto:<%= email %>"><%= email %></a></dd>
            </dl>

            </script>
            </body>
             </html>